APScheduler==3.11.0
confluent-kafka==2.8.0
fastapi==0.115.11
mlflow==2.20.3
numpy==1.26.4
pandas==2.2.2
path==17.1.0
pip==25.0
pymongo==4.11.1
python-dotenv==1.0.1
requests==2.31.0
spacy==3.7.6
uvicorn==0.34.0
gensim==4.3.3
